<div class="row">
  <!-- Content Column -->
  <div class="col-lg-6 mb-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Hi {{hbsObject.user.firstName}}, here are your account details
        </h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div>a profile section can go here displaying some info about the users account</div>
        </div>
      </div>
    </div>
  </div>
</div>