<div class="container">
  <div class="pb-2 mt-2 mb-4 border-bottom">
    <h3>Sign up</h3></div>
  <form id="signup-form" method="POST">
    <input type="hidden" name="_csrf">
    <div class="form-group row">
      <label class="col-md-3 col-form-label font-weight-bold text-right" for="email">Email</label>
      <div class="col-md-7">
        <input class="form-control" type="email" name="email" id="email" placeholder="Email" autofocus="" required="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label font-weight-bold text-right">First Name</label>
      <div class="col-md-7">
        <input class="form-control" type="firstName" name="firstName" id="firstName" placeholder="Your First Name" autofocus="" required="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label font-weight-bold text-right">Last Name</label>
      <div class="col-md-7">
        <input class="form-control" type="lastName" name="lastName" id="lastName" placeholder="Your Last Name" autofocus="" required="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label font-weight-bold text-right">Team Name</label>
      <div class="col-md-7">
        <input class="form-control" type="teamName" name="teamName" id="teamName" placeholder="Your Team Name" autofocus="" required="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label font-weight-bold text-right" for="password">Password</label>
      <div class="col-md-7">
        <input class="form-control" type="password" name="password" id="password" placeholder="Password" required="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label font-weight-bold text-right" for="confirmPassword">Confirm Password</label>
      <div class="col-md-7">
        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required="">
      </div>
    </div>
    <div class="form-group offset-sm-3 col-md-7 pl-2">
      <button class="btn btn-success" type="submit"><i class="fas fa-user-plus fa-sm"></i>Signup</button>
    </div>
  </form>
</div>