<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Sports Tracker {{getYear}}<span></span></span>
    </div>
  </div>
</footer>
<!-- End of Footer -->