.card--game {

}

.card--header {

}

.card--title {

}

.card--header__row {
  padding-bottom: 20px;
}

.card--header__title {
  font-size: 22px;
  font-weight: 700;
}

.card--header__time {
  font-size: 12px;
}

.card--teamname {
  font-size: 18px;
  font-weight: 700;
}

.card--record {

}

.card--venue {

}

.card--game-status {

}

.card--game-status--scheduled {
  color: green;
}

.card-subscribe-container {
  margin-top: 20px;
}

.card--subscribe__button {
  margin-top: 20px;
}

.card--section {
  
}

/**
game stats section
*/

.game-stats {
  border: 1px solid red;
}

.card--row__centered {
  text-align: center;
}

.game-stats--title {
  font-size: 18px;
}

.game-stats--bold {
  font-weight: 700;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (max-width: 767px) {
  .hide-tablet {
    display: none;
  }
}

@media (max-width: 414px) {
  .hide-mobile {
    display: none;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}